<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>방명록</title>
    <!-- CDN들 불러오기 -->
    <%- include('../components/cdn.ejs') %>
    <!-- CSS 연결 -->
    <link href="../static/css/board.css" rel="stylesheet" />
    
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  </head>
  <body>
    <form name="form-comment">
      <fieldset>
        <legend>댓글 등록</legend>
        <div>
          <% if (isAuthenticated) { %>
            <h5><%= user.nickname %> 님 </h5>
          <% } %>

        <input type="text" name="Field" placeholder="내용" />
        <br />

        <div class="btn-group">
          <button type="button" onclick="addComment()">등록</button>
        </div>
      </fieldset>
    </form>
    <script>
      function addComment() {
        const form = document.forms["form-comment"];
        
      }
    </script>
    <div>
      <table border="1" cellspacing="0">
        <thead>
          <tr>
            <th>ID</th>
            <th>작성자</th>
            <th>댓글</th>
            <th>수정</th>
            <th>삭제</th>
          </tr>
        </thead>
        <tbody>
          <% for(let i = 0; i< data.length; i++) { %>
          <tr id="tr_<%=data[i].commentID%>">
            <td><%= data[i].commentID %></td>
            <td><%= data[i].boardID %></td>
            <td><%= data[i].id %></td>
            <td><%= data[i].Field %></td>
            <td><%= data[i].createComment %></td>
            <td><button type="button" onclick="updateComment('<%= data[i].commentID %>')">수정</button></td>
            <td><button type="button" onclick="deleteComment('<%= data[i].commentID %>')">삭제</button></td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>


    <script>
      function addComment() {
        // 서버에 보낼 데이터를 만들어야 함.
        const form = document.forms["form-comment"]
        const data = {
          commentID: form.commentID.value,
          boardID: form.boardID.value,
          id: form.id.value,
          Filed: form.Field.value,
          createComment: form.createComment.value
        }

        // axios를 이용해 데이터를 서버로 전송.
        axios({
          method: 'post',
          url: '/comment',
          data: data
        }).then((res) => {
          // axios 응답을 받으면, table에 행 추가 (동적으로)
          const {
            commentID,
            boardID,
            id,
            Field,
            createComment
          } = res.data

          $("tbody").append(`<tr id="tr_${commentID}">
            <td>${commentID}</td>
            <td>${boardID}</td>
            <td>${id}</td>
            <td>${Field}</td>
            <td>${createComment}</td>
            <td><button type="button" onclick="updateComment(${commentID})">수정</button></td>
            <td><button type="button" onclick="deleteComment(${commentID})">삭제</button></td>
          </tr>`)
        })

      }


      function deleteComment(commentID, TrElement) {
        // id를 이용해서 url을 완성, 요청 보내기
        axios({
          method: 'delete',
          url: `/comment/${commentID}`
        }).then((res) => {
          console.log(res.data);

          if (res.data.result) {
            // 삭제할 td 태그가 필요함.
            // $(TrElement).remove();
            $(`#tr_${commentID}`).remove()
          } else {
            alert("존재하지 않는 댓글입니다.")
          }
        })
      }

      function updateComment(commentID) {
        axios({
          method: 'get',
          url: `/comment/${commentID}`,
        }).then((res) => {
          const {
            commentID,
            boardID,
            id,
            Field,
            createComment
          } = res.data

          const form = document.forms['form-comment'];
          form.commentID.value = commentID;
          form.boardID.value = boardID;
          form.id.value = id;
          form.Field.value = Field;
          form.createComment.value = createComment;

          // [변경], [취소] 버튼 보이기
          $(".btn-group").html(`
            <button type='button' onclick='editDo(${commentID});'>변경</button>
            <button type='button' onclick='editCancel();'>취소</button>
          `)
        });
      }

      function editDo(commentID) {
        const form = document.forms['form-comment'];

        axios({
            method: 'patch',
            url: '/comment',
            data: {
              commentID: commentID,
              boardID: form.boardID.value,
              id: form.id.value,
              Field: form.Field.value,
              createComment: form.createComment.value
            },
          })
          .then((res) => {
            console.log(res.data);
            return res.data;
          })
          .then((data) => {
            console.log($(`#tr_${commentID}`).children('td'));
            $(`#tr_${commentID}`).children('td:eq(1)').text(parseInt(form.commentID.value));
            $(`#tr_${boardID}`).children('td:eq(2)').text(parseInt(form.boardID.value));
            $(`#tr_${id}`).children('td:eq(3)').text(parseInt(form.id.value));
            $(`#tr_${Field}`).children('td:eq(4)').text(form.Field.value);
            $(`#tr_${createComment}`).children('td:eq(5)').text(form.createComment.value);

            // 입력창 초기화
            editCancel();
          });
      }

      function editCancel() {
        // (1) input 초기화
        const form = document.forms['form-comment'];
        form.commentID.value = '';
        form.id.value = '';
        form.Field.value = '';

        // (2) [등록] 버튼 보이기
        $(".btn-group").html(`<button type='button' onclick='addComment();'>등록</button>`);
      }
    </script>
  </body>
</html>